<div class="hacktoberfest">
  <mat-toolbar color="primary">
    <h1>Hacktoberfest 2019: Favorite Angular Resources</h1>
    <div class="social">
      <a mat-icon-button href="https://hacktoberfest.digitalocean.com/" rel="noopener" style="width: 115px;">
        <mat-icon
          svgIcon="hacktoberfest"
          aria-hidden="false"
          aria-label="Hacktoberfest"
          style="width: 125px; height: 26px;"
        ></mat-icon>
      </a>
      <a mat-icon-button href="https://angular.io/" rel="noopener">
        <mat-icon
          svgIcon="angular"
          aria-hidden="false"
          aria-label="Angular"
          style="width: 30px; height: 30px;"
          ></mat-icon>
      </a>
      <a mat-icon-button href="https://github.com/timdeschryver/hacktoberfest-2019-angular/" rel="noopener">
        <mat-icon
          svgIcon="github"
          aria-hidden="false"
          aria-label="GitHub"
        ></mat-icon>
      </a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav-content>
      <mat-form-field>
        <input matInput placeholder="Search for a resource" (*input)="input$" [value]="query$ | async" autocomplete="off">
      </mat-form-field>

      <ng-container *ngIf="{
          columns: columns$ | async,
          resources: resources$ | async
        } as box">
        <mat-grid-list [cols]="box.columns" rowHeight="260px" [gutterSize]="box.columns * 5 + 'px'" [@resourcesAnimation]="box.resources.length">
          <mat-grid-tile *ngFor="let resource of box.resources" colspan="1" rowspan="1" [class.placeholder]="resource.title === 'placeholder'">
            <mat-card *ngIf="resource.title !== 'placeholder'; else placeholder">
              <mat-card-header>
                <mat-card-title>{{ category[resource.category] }} {{ resource.title }}</mat-card-title>
                <mat-card-subtitle *appProfile="resource.author">Author: </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  {{ resource.description }}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <a [href]="resource.url" color="accent" mat-raised-button>Go to resource</a>
                <div class="pull-right" *appProfile="resource.contributor">Added by </div>
              </mat-card-actions>
            </mat-card>

            <ng-template #placeholder>
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Add your resource</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    <a href="https://github.com/timdeschryver/hacktoberfest-2019-angular/blob/master/src/assets/resources.json" color="accent" mat-raised-button>Create a Pull Request</a>
                  </p>
                </mat-card-content>
              </mat-card>
            </ng-template>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-container>

      <footer>
          Made with ♥ by <a href="https://twitter.com/@tim_deschryver">@tim_deschryver</a>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
